BYOC.Core/bin/Debug/BYOC.Core.dll
BYOC.Core/bin/Debug/BYOC.Core.dll.mdb
BYOC.Core/bin/Debug/JustGiving.Api.Sdk.dll
BYOC.Core/bin/Debug/Microsoft.Http.dll
BYOC.Core/obj/Debug/.NETPortable,Version=v4.5,Profile=Profile78.AssemblyAttribute.cs
BYOC.Core/obj/Debug/BYOC.Core.csproj.FilesWrittenAbsolute.txt
BYOC.Core/obj/Debug/BYOC.Core.dll
BYOC.Core/obj/Debug/BYOC.Core.dll.mdb
